@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.bottom-margin{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: dashed 1px;
}